[user]
        name = Evgeny Yakimov
        email = john.yakimov@gmail.com
[color]
        ui = always
        status = always
        branch = always
        diff = always
[core]
        pager = less -R
        editor = vim
        excludesfile = ~/.gitignore_global
[alias]
        logdog = log --decorate --oneline --graph
        logdogsimple = log --decorate --oneline --graph --simplify-by-decoration
        ci = commit -a
        branchout = checkout -b
        branches = branch --list
        bo = checkout -b
        co = checkout
        ff = merge --ff-only
        amend = commit --amend
        ammend = commit --amend
        initmain = !git init && git checkout -b main
[push]
        default = simple
[include]
        path = ~/.gitconfig.local
[init]
        defaultBranch = main
